.sideBar {
    border-right: 1px solid black;
    background-color: rgba(184, 182, 181, 0.288);
    margin: 0;
    height: 100%;
}

.linkButton {
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.linkStyle {
    cursor: pointer;
    padding: 20px 0px;
    padding-left: 20px;
}

.linkStyle:hover {
    background-color: rgba(155, 155, 155, 0.315);
    transition: 300ms;
}

.trigger {
    display: none !important;
}